body{
    margin: 0 auto;
    background-color:#3b3b3b;
    padding: 0 auto;
}

canvas{
    margin:auto;
    position:absolute;
    top:0%;
    bottom:0%;
    left:0%;
    right:0%;
    background-color: aqua;
}